#ifndef __${nameUnderscoreUpper}_CONFIG_H__
#define __${nameUnderscoreUpper}_CONFIG_H__

/* Version */
#cmakedefine VERSION "@VERSION@"

/* Package name */
#cmakedefine PACKAGE "@PACKAGE@"

/* The gettext domain name */
#cmakedefine GETTEXT_PACKAGE "@GETTEXT_PACKAGE@"

/* Library installation directory */
#cmakedefine KURENTO_MODULES_SO_DIR "@KURENTO_MODULES_SO_DIR@"

#endif /* __${nameUnderscoreUpper}_CONFIG_H__ */
