Format: https://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: {{nameKebabCase}}
Upstream-Contact: {{debianOwner}}
Source: https://git.example.com/{{nameKebabCase}}

Files: *
Copyright: {{debianYear}} {{debianOwner}}
License: Apache-2.0
 On Debian systems, the complete text of the Apache version 2.0 license
 can be found in "/usr/share/common-licenses/Apache-2.0".
