{
  "remoteClasses": [
    {
      "name": "${camelName}",
      "extends": "${extends}",
      "doc": "${camelName} interface. Documentation about the module",
      "constructor": {
	"doc": "Create an element",
	"params": [
	  {
	    "name": "mediaPipeline",
	    "doc": "the parent :rom:cls:`MediaPipeline`",
	    "type": "MediaPipeline",
	    "final": true
	  }
	]
      }
    }
  ]
}