Source: kurento
Section: net
Priority: optional
Maintainer: Kurento Maintenance Team <kurento@googlegroups.com>
Build-Depends:
 autoconf,
 cmake,
 debhelper,
 gnutls-bin,
 gtk-doc-tools,
 libsigc++-2.0-dev,
 libboost-dev,
 libboost-system-dev,
 libboost-filesystem-dev,
 libboost-test-dev,
 libevent-dev,
 libglibmm-2.4-dev,
 libgnutls28-dev,
 libgstreamer1.0-dev,
 libgstreamer-plugins-base1.0-dev,
 libnice-dev,
 libopencv-dev,
 libsoup2.4-dev,
 libthrift-dev (>= 0.9.0),
 libthrift-dev (<= 0.9.1),
 libtool,
 libvpx-dev,
 tesseract-ocr-dev,
 tesseract-ocr-eng,
 thrift-compiler,
 libjsoncpp-dev,
 uuid-dev
Standards-Version: 3.9.4


Package: kurento
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer1.0-plugins-base (>= 1.2.0),
 gstreamer1.0-libav,
 gstreamer1.0-nice,
 gstreamer1.0-plugins-bad (>= 1.2.0),
 gstreamer1.0-plugins-good (>= 1.2.0),
 gstreamer1.0-plugins-ugly (>= 1.2.0),
 gnutls-bin,
 libopencv-dev
Description: Streaming Media Server
 The Kurento Media Server processes audio and video streams,
 doing composable pipeline-based processing or media.


Package: kurento-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kurento
Description: Development files for Kurento Streaming Media Server
 The Kurento Media Server processes audio and video streams,
 doing composable pipeline-based processing or media.
