Source: kurento-media-server
Section: net
Priority: optional
Maintainer: Kurento Maintenance Team <kurento@googlegroups.com>
Build-Depends:
 cmake,
 debhelper (>= 7.0.50),
 kms-core-dev,
 libboost-dev,
 libboost-system-dev,
 libboost-filesystem-dev,
 libthrift-dev (>= 0.9.0),
 libthrift-dev (<= 0.9.1),
 libevent-dev,
 thrift-compiler,
 librabbitmq-dev
Standards-Version: 3.9.4

Package: kurento-media-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 kms-elements,
 kms-core
Description: Kurento Media Server
 The Kurento Media Server processes audio and video streams,
 doing composable pipeline-based processing or media.

Package: kurento-media-server-dbg
Architecture: any
Depends: ${misc:Depends},
 kurento-media-server (= ${binary:Version}),
 kms-core-dbg
Description: Debugging symbols for Kurento Media Server
