Source: kurento-media-server
Maintainer: Kurento <kurento@googlegroups.com>
Priority: optional
Build-Depends: debhelper (>= 9),
 cmake,
 libboost-dev,
 libboost-filesystem-dev,
 libboost-log-dev,
 libboost-program-options-dev,
 libboost-system-dev,
 libboost-test-dev,
 libboost-thread-dev,
 libevent-dev,
 libssl-dev (<< 1.1.0) | libssl1.0-dev,
 kms-cmake-utils (>= 6.7.0),
 kms-core-dev (>= 6.7.0),
 kms-elements-dev (>= 6.7.0),
 kms-filters-dev (>= 6.7.0)
Standards-Version: 4.0.0
Homepage: www.kurento.org
Vcs-Browser: https://github.com/Kurento/kurento-media-server
Vcs-Git: https://github.com/Kurento/kurento-media-server.git

Package: kurento-media-server
Architecture: any
Section: video
Depends: ${shlibs:Depends},
 ${misc:Depends},
 binutils,
 gstreamer1.5-libav (>= 1.7.0~0),
 gstreamer1.5-plugins-bad (>= 1.7.0~0),
 gstreamer1.5-plugins-base (>= 1.7.0~0),
 gstreamer1.5-plugins-good (>= 1.7.0~0),
 gstreamer1.5-plugins-ugly (>= 1.7.0~0),
 libgstreamer1.5-0 (>= 1.7.0~0),
 kms-core (>= 6.7.0),
 kms-elements (>= 6.7.0),
 kms-filters (>= 6.7.0)
Breaks: kurento-media-server-6.0
Replaces: kurento-media-server-6.0
Description: Kurento Media Server
 KMS is a WebRTC-compatible server that processes audio and video streams,
 doing composable pipeline-based processing of media.

Package: kurento-media-server-dev
Architecture: any
Section: devel
Depends: kurento-media-server (= ${binary:Version}),
 ${misc:Depends},
 kms-cmake-utils (>= 6.7.0),
 kms-core-dev,
 kms-elements-dev,
 kms-filters-dev
Breaks: kurento-media-server-6.0-dev
Replaces: kurento-media-server-6.0-dev
Description: Kurento Media Server
 Development files

Package: kurento-media-server-dbg
Architecture: any
Section: debug
Depends: kurento-media-server (= ${binary:Version}),
 ${misc:Depends},
 kms-core-dbg,
 kms-elements-dbg,
 kms-filters-dbg
Breaks: kurento-media-server-6.0-dbg
Replaces: kurento-media-server-6.0-dbg
Description: Kurento Media Server
 Debugging symbols
