#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	export FINAL_INSTALL_DIR=/usr
	dh_auto_configure -- -DCMAKE_INSTALL_SYSCONFDIR=/etc -DGENERATE_TESTS=TRUE

.PHONY: override_dh_strip

override_dh_strip:
	dh_strip --dbg-package=kurento-media-server-6.0-dbg
